# Entorno virtual
.venv/

# Cachés de Python
__pycache__/
*.py[cod]
*$py.class

# Cachés de herramientas
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Variables de entorno
.env
.env.*

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales de editores
*.swp
*.swo
